*.class
*.iml
*.jar
.idea
checkouts
classes
figwheel_server.log
lein-template.iml
node_modules
pom.xml
pom.xml.asc
resources/public/js
target
out
package-lock.json
resources/private
.lein-repl-history
i18n/i18n.js
i18n/tmp
i18n/*.mo
i18n/*~
